body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-text {
  opacity: .8;
  text-align: center;
 
}

a {
  text-decoration: none;
}

.foot {
  margin-top: 50px;
}

a:hover {
  color: tomato;
  text-decoration: underline;
  cursor: pointer;
}
